*{
    margin:10px;
    padding:0;
}

#container{
    display:grid;
    grid-template-columns: 400px 200px;
    row-gap: 50px 60px;
    place-items: center start;

}
.item{
    background-color: rgb(21, 152, 212);
    padding: 34px;
    margin: 20px;
}   
body{
    background-color:darkslategray;


}
main{
    background-color: aquamarine;
    padding:20px;
    border-radius: 10px;
    margin:auto;
}
@media (min-width: 320px) and (max-width: 1280px){
    #container {
        grid-template-columns: 1fr 1fr;}
    
}

