body{


}

header{ 
    padding:2rem;
        background-color: rgb(211, 91, 147); 
        h1 {
            color:rgb(250, 237, 241)
        }
}


.box{
    width: 20px;
    padding: 30px
    border: 5px;


}