.container {
  display: grid;
  width: 100%;
  height: 900px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "header header header"
  "sidebar main main"
  "sidebar main main"
  "footer footer footer";
  gap: 5px;
}

.item {
  background-color: rgb(207, 145, 204);
  text-align: center;
  border: 2px solid #281e2b;
  height: 100%;
  width: 100%;
}

.item:hover {
  background-color: rgba(233, 69, 184, 0.904);
}

.item:hover::before {
  content: 'layout: '
}

.main {
  grid-area: main;
  height: 800px;
  width: 800px;
  background-color: rgb(250, 193, 255);

}

.header{
  grid-area: header;
  background-color: rgb(132, 60, 190);
  height: 100px;
  width: 100%;

}

.footer {
  grid-area: footer;
  background-color: rgb(132, 60, 190);
  height: 100px;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  height: 800px;
  width: 100%;
  background-color: rgb(242, 137, 252);

}
.item:hover::after {
content: " - selecionado";
color: rgb(244, 207, 253);
 }